.errorMessage 
{
    color:red;
}

.admin-grid-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.admin-grid-item
{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    grid-gap: 50px;
}

.grid-item
{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    background: gray;
    height: 200px;
}

#chosenOption-container
{
    text-align: center;
}

#chosenOption
{
    background-color: gray;
    width: 250px;
    height: 500px;
    display: inline-block;
}